      @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
      @import url("https://fonts.googleapis.com/css?family=Merriweather:300,400");
      html,
      body {
        width:100%;
        height: 100%;
        padding:0;
        margin:0;
        align-items: center;
        background: rgb(255, 255, 255);
        font-family: "Merriweather","Open Sans", sans;
        justify-content: center;
        text-align: center;
      }
        .cvBox{
        position:absolute;
        top:0px;
        height:30vh;
        width:100%;
        background-size:cover;
        background-position: center;
background-repeat:no-repeat;
overflow:hidden;
filter:blur(24px);
-webkit-filter:blur(24px);
      }
      .cvWrap
      {
position:absolute;
        top:0px;
        width:100%;
        height:30vh;
      	background-color:RGBA(0,0,0,0.55);

      }
      h1,h3{color:RGB(35,35,35)}
      .cvContainer
      {
      	position:relative;
      	overflow:hidden;
      	height:30vh;
      	box-shadow:0 0 30px 0px RGBA(0,0,0,0.45);
      }
      .cvTitle
      {
      	position:relative;
      	background-color:RGB(255,255,255);
      	border-radius:8px;
      	left:50%;
      	transform:translateY(-6rem) translateX(-50%);
      	text-align: center;
        line-height: 20px;
      	height:10rem;
      	width:30rem;
      	box-shadow:5px 10px 30px 0 RGB(20,20,20,.3),0px 0px 0px 2px RGB(210,210,210);
      }
@media screen and (max-width: 600px) {
  .cvTitle{
	width:85%;
}
}
      .centerText
      {
      	position:relative;top:50%;transform:translateY(-50%);
      }
      .content{
      	 align-items: center;
        font-family: "Merriweather","Open Sans", sans;
        font-weight:400;
        justify-content: center;
        text-align: center;
        display:inline-block;
        position:relative;
        margin-top:8rem;
      }
      span{
       font-size:1.2rem;
       line-height:1.8rem;
       word-break: normal;
       white-space:pre-wrap; 
      }
            a {
  text-decoration:none ;
    display: inline-block;
    color: RGB(115,127,188);

    transition:  .1s;
}

a:hover {
   transform: scale(1.05);
   color: RGB(135,147,188);
}