.sjs-default{position:relative;padding:0;margin:0;opacity:0;transition:height .2s ease-out,opacity .2s ease-out .2s}[data-sjsel]{opacity:0;position:absolute;top:0;left:0;transition:-webkit-transform .2s ease-out;transition:transform .2s ease-out;transition:transform .2s ease-out,-webkit-transform .2s ease-out}
:root{
  --main-bg-color: RGB(186,165,218);
}
*,
*::after,
*::before{
  box-sizing: border-box;
}
body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
img{
  max-width: 100%;
}
b,
strong{
  font-weight: 600;
}
hr{
  background: #111;
  box-shadow: none;
  border: none;
  height: 1px;
  width: 100%;
  margin: 10px 0;
  font: normal 300 1.4em / 1.2 'Open-sans', helvetica, sans-serif;
}
::selection{
  background: var(--main-bg-color);
  color: #fff;
}
::-moz-selection{
  background: var(--main-bg-color);
  color: #fff;
}

.container{
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px;
}
.wrapper{
  padding: 40px 0;
}
.card{
  width:fit-content;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  transition: box-shadow .2s ease-in-out;
  overflow:hidden;
}
.card_bg_set{
  background: rgba(20,20,20,.05);
}
.card__picture{
  display: block;
  width: 100%;
  height: auto;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.card__set{
  filter:saturate(130%) blur(24px);
}
.card-infos{
  padding: 20px;
  background: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.card-infos-set{
  background: rgba(20,20,20,.05);
}
.card__title{
  font-family: 'Hind';
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.4;
  margin: 0 0 10px;
}
.card__text{
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0;
  color: #86888A;
}
@media screen and (max-width: 550px) {
 .card__title{
  font-size: 0.8rem;
}
.card__text{
  font-size: 0.6rem;
}
}

.card__text--high{
  font-weight: 600;
}

.header{
  background: var(--main-bg-color);
  height: 160px;
  display: flex;
}
.header__title{
  margin: auto;
  font-weight: 300;
  font-size: 3.2rem;
  color: #fff;
}
.header__title--high{
  font-weight: 600;
}

.sortable__nav{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.nav__link{
  padding: 0 20px 4px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 300;
  display: block;
  border-bottom: 2px solid transparent;
}
.nav__link.is-active{
  border-color: var(--main-bg-color);
}

.footer__list.list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list__item.item{
  display: flex;
}
.item__link.link{
  margin: 0;
}
.item__link.link:not(:first-child){
  margin-left: 20px;
}
.link__icon{
  height: 2rem;
  width: 2rem;
}
