/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
html { overflow-y: scroll; }

body {
	font-family:"Open Sans",sans-serif;
	background:#343333;
	color:#FFF; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

pre, code {
	color:#FFF;    
	font-family: monospace;
	font-size:18px; }

.container { margin:0 auto; }

h1 {
	font-size:62px;
	color:#FFF;
	font-family: 'Raleway', sans-serif;
	font-weight:100; }

p {
	font-size:25px;
	line-height:46px;
	font-weight:100;
	color:#FFF; }

p.example {
	font-size:20px;
	line-height:32px;
	font-weight:100;
	color:#FFF;	}

h2 {
	font-size:26px;
	font-weight:300;
	line-height:46px;
	color:#FFF; }

ul li {
	font-size:25px;
	line-height:46px;
	font-weight:100;
	color:#FFF; }

.setting {
	font-weight:400;
	display:inline-block;
	width:200px; }
	
a { color:#FFF; text-decoration:none; }



/* IPHONE */
@media (max-width:375px){
	.container {
		width:375px;
		padding-top:500px;
	}	
}

/* IPAD */
@media (max-width:768px){
	.container {
		width:500px;
		padding-top:250px;
	}	
	
	.setting {display:block;}
}


/* DESKTOP */
@media (min-width:768px){
	.container {
		width:768px;
		padding-top:200px;
	}	
}

/* DESKTOP + */
@media (min-width:1024px){
	.container {
		width:1000px;
		padding-top:100px;
	}	
}
        .nui-scroll::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
        /*正常情况下滑块的样式*/
        .nui-scroll::-webkit-scrollbar-thumb {
            background-color: rgba(0,0,0,.05);
            border-radius: 10px;
            -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);
        }
        /*鼠标悬浮在该类指向的控件上时滑块的样式*/
        .nui-scroll:hover::-webkit-scrollbar-thumb {
            background-color: rgba(0,0,0,.2);
            border-radius: 10px;
            -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);
        }
        /*鼠标悬浮在滑块上时滑块的样式*/
        .nui-scroll::-webkit-scrollbar-thumb:hover {
            background-color: rgba(0,0,0,.4);
            -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);
        }
        /*正常时候的主干部分*/
        .nui-scroll::-webkit-scrollbar-track {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
            background-color: #282727;
        }
        /*鼠标悬浮在滚动条上的主干部分*/
        .nui-scroll::-webkit-scrollbar-track:hover {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.4);
            background-color: rgba(0,0,0,.01);
        }
